.main-view
  min-height: 100vh
  background-repeat: no-repeat
  background-size: 100% 100%
  background-image: url('../../assets/images/lottery/bg.jpg')
  overflow hidden
  position relative

.flex
  display flex
  flex-direction: column
  align-items: center

.home-title
  margin-top: 40px
  flex-X-center-Y-normal()
  img
    width: 544px
    height: 205px

.top
  margin-top: 56px;
  font-size: 35px;
  color: #d84578
  font-family: HYe3gj

.user-info
  font-size: 28px
  margin-top: 47px
  flex-X-center-Y-normal()
  .input-box
    text-align: center
    height: 60px
    line-height: 60px
    width: 570px
    margin-top 38px 
    border-radius: 30px
    border: 2px solid #d84578
    background: #fff
    input
      color: #d84578
      background none
      width: 520px
      text-align: center
    input::placeholder
      color: #d84578

.footer
  margin-top: 60px;
  .btn
    width: 216px;
    height: 66px;
    background-color: #d4456d;
    border-radius: 33px;
    text-align: center
    line-height: 66px
    font-size: 36px
    color #fff
    font-family: HYe3gj;