.main-view
  color: #d84578
  min-height: 100vh
  background-repeat: no-repeat
  background-size: 100% 100%
  background-image: url('../../assets/images/lottery/bg.jpg')
  overflow hidden
  position relative

.flex
  display flex
  flex-direction: column
  align-items: center

.home-title
  margin-top: 410px
  flex-X-center-Y-normal()
  img
    width: 544px
    height: 205px

.bootom-box
  position absolute
  width: 220px
  height: 370px
  bottom 20px
  right 30px

.top
  margin-top: 108px
  // margin-left: 120px
  font-size: 40px
  .row
    display: flex
    width: 512px
    height: 112px
    line-height: 112px
    border-bottom: 1px solid red
  .bk-row
    border: none
    .key
      width: 512px
      text-align: center

.footer
  margin-top: 100px;
  .btn
    border-radius: 33px;
    width: 276px
    height 66px
    background: #d4456d
    text-align: center
    line-height: 66px
    font-size: 35px
    color: #fff